<html>
  <head>
    <link rel="stylesheet" href="/css/main.css" />
    <title><%= headTitle %></title>
  </head>
  <body>
  <main>
    <!-- ðŸ— Structo the Builder -->
    <!-- Wykorzystaj odpowiedniÄ… skÅ‚adniÄ™ EJS do odpowiednich zadaÅ„. -->
    <h1 class="heading">Add product</h1>
    <%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath: activeLinkPath }) %>
    <form action="/products/add" method="POST">
      <div class="form__group">
      <label class="form__label">Name</label><input type="text" name="name" class="form__input" />
      </div>
      <div class="form__group">
      <label class="form__label">Description</label><input type="text" name="description"  class="form__input" />
      </div>
      <br />
      <button type="submit" class="button">Add</button>
    </form>
  </main>
  </body>
</html>