<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <main>
    <h1>Home</h1>
    <%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath: activeLinkPath }) %>    </main>
</body>
</html>
